* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-image: url("work.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar {
    display: inline-flex;
    margin: 10px;
}

.navbar li {
    font-size: 30px;
    padding: 20px;
}

.navbar ul {
    margin-left: 500px;
    text-align: right;
    background-color: rgba(240, 240, 236, 0.89);
    opacity: 0.5;
}

.navbar ul li a {
    color: rgb(97, 6, 77);
}

.navbar a {
    text-decoration: none;
    list-style-type: none;
}

label {
    text-decoration: none;
    font-size: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.nav1 li {
    list-style-type: none;
    display: inline-flex;
}

h2 {
    color: rgba(230, 245, 15, 0.89);
    text-indent: 80px;
    font-size: 80px;
}

h3 {
    color: rgb(34, 236, 243);
    margin-left: 80px;
    font-size: 60px;
}

button {
    color: white;
    margin-top: 20px;
    margin-left: 300px;
    background-color: bisque;
    border: 1px solid blueviolet;
    height: 100px;
    width: 150px;
    font-size: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 20px;
    font-weight: 200;
}

button:hover {
    cursor: pointer;
    color: aquamarine;
    background-color: coral;
}

.media img {
    line-height: 100px;
    margin-left: 80px;
    display: inline-flex;
    height: 30px;
    width: 30px;
}

.content img {
    height: 350px;
    width: 350px;
    border: 2px dotted rgb(241, 248, 108);
    border-radius: 50%;
    position: relative;
    margin-right: 150px;
    margin-top: 100px;
    float: right;
}

.media ul {
    margin: 30px;
    margin-left: 20px;
}

.media li {
    display: inline-flex;
    padding: 5px;
}

.media a {
    padding: 5px;
}